@font-face {
    font-family:'Inter-Bold';
    src: url(../../fonts/Inter-Bold.ttf);
}

@font-face {
    font-family:'QuirelTypeface';
    src: url(../../fonts/Quirel.ttf);
}

.st0{fill:#2F2C2F;}
.st1{fill:#77CEF4;}
/*.st2{display:none;}*/
.st3{display:inline;}
.st4{fill:#5899B5;}
.st5{display:inline;fill:#2F2C2F;}
.st6{display:inline;fill:#8BCA89;}
.st7{display:inline;fill:#F06B6C;}
.st8{fill:#F6F7F8;}
.st9{display:inline;fill:#5899B5;}
.st10{display:inline;fill:#F6F7F8;}
.st11{display:inline;fill:#77CEF4;}
.st12{font-family:'QuirelTypeface';}
.st13{font-size:84px;}
.st14{font-size:50px;}
.st15{fill:#937542;}
.st16{clip-path:url(#SVGID_00000095317497224882134380000014694427808715161246_);}
.st17{fill:#D4A75F;}
.st18{fill:#B15050;}
.st19{fill:#F06B6C;}
.st20{fill:#B97B50;}
.st21{fill:#F8A46C;}
.st22{fill:#6D6768;}
.st23{fill:none;}
.st24{fill:#BA912E;}
.st25{fill:#FBC111;}
.st26{fill:#4C7F49;}
.st27{fill:#8BCA89;}
.st28{font-family:'Inter-Bold';}
.st29{font-size:22px;}
.st30{letter-spacing:9;}
.st31{letter-spacing:6;}
.st32{letter-spacing:1;}
.st33{letter-spacing:2;}
.st34{letter-spacing:3;}
.st35{display:inline;fill:none;stroke:#2F2C2F;stroke-width:5;stroke-miterlimit:10;}
.st36{display:inline;fill:#BA912E;}
.st37{fill:#EE6B6C;}
.st38{fill:none;stroke:#2F2C2F;stroke-width:5;stroke-miterlimit:10;}
.st39{font-size:40px;}
.st40{fill:none;stroke:#F5F6F7;stroke-width:6;stroke-miterlimit:10;}
.st41{fill:#F5F6F7;}
.st42{font-size:110px;}
.st43{letter-spacing:5;}
.st44{letter-spacing:4;}
.st45{font-size:60px;}
.st46{fill:#77CEF4;stroke:#2F2C2F;stroke-width:5;stroke-miterlimit:10;}
.st47{fill:#F8A46C;stroke:#2F2C2F;stroke-width:5;stroke-miterlimit:10;}
.st48{fill:#5899B5;stroke:#2F2C2F;stroke-width:5;stroke-miterlimit:10;}
.st49{font-size:78px;}
.st50{clip-path:url(#SVGID_00000110465346656911140300000012729678881635887018_);}
.st51{fill:none;stroke:#F8A46C;stroke-width:0.4649;stroke-miterlimit:10;}
.st52{fill:#2F2C2F;}
.st53{fill:#77CEF4;}
.st54{opacity:0.19;fill:#2F2C2F;}
.st55{fill:#77CEF4;stroke:#2F2C2F;stroke-width:6;stroke-miterlimit:10;}
.st56{opacity:0.19;fill:#5899B5;}
.st57{fill:none;stroke:#77CEF4;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st58{fill:none;stroke:#77CEF4;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st59{fill:none;stroke:#2F2C2F;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
