#filtering th:first-child,
#filtering td:first-child{
    text-align:center;
    width:80px;
}
#filtering th:last-child {
    display: table-cell !important;
}
#filtering th, #filtering td{
    font-family: 'Nunito', sans-serif;
    color:#333;
    font-weight: bolder;
}

#filtering th:nth-child(n+5){
    display: none;
}
#filtering tbody tr td:nth-child(n+5){
    display: none;
}
#filtering th, #filtering tbody tr td{display:none;}

#filtering tbody tr td:last-child {
    display: table-cell !important;
    width: 120px;
}
.pull-pagination-right .pagination {
    float: right;
}
.btn-xs {
    font-size: 11px;
}


#filtering tbody tr td{
    font-size:14px;
}

#filtering .w-120{width: 120px;}

#loading-bar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 100000;
    display: none;

}
#loading-bar img{
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    margin:auto;
}
